
\.env

backend/\.DS_Store

docker/nginx/logs/error\.log

docker/nginx/logs/access\.log

/docker/postgres/*

public/htdocs/

backend/resources/views_old/

backend/public/assets/css/bootstrap/\.DS_Store

backend/public/assets/css/css/\.DS_Store

backend/public/assets/css/\.DS_Store

backend/public/vendor/

docs/

TODOS
